@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

@layer components {
  .timeline-img {
    @apply h-24 w-24 object-cover rounded-full shadow-md border-4 border-white xs:absolute;
  }
  .timeline-container {
    @apply relative pt-2 xs:pl-28 xs:pt-0;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white-text xs:top-11 xs:left-26;
  }
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
